*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(../images/floriBaloane.jpeg);
}

.nav{
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(247, 246, 237);
    height: 100px;
}

.nav h1{
    font-family: 'Playfair Display', serif;
    color: rgb(186, 15, 15);
    
}

.meniuOrizantala{
    display: flex;
    justify-content: center;
}

.nav .meniuOrizantala li{
    list-style-type: none;
    padding: 10px;
}

.nav .meniuOrizantala li a{
   text-decoration: none;
   color: rgb(37, 35, 35);
}

.evenimente {  
    display: none;
    align-items: flex-start;
    position: absolute;
    background-color:rgb(247, 246, 237);
}

.evenimente a{
    padding-top: 7px;
    padding-bottom:7px;
}

.hoverul:hover .evenimente{
 display: flex;
 flex-direction: column;
} 

.descriereppag p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.descriereppag{
    width: 50%;
    padding: 15px;
    text-align: justify;
}

.homebkg{
    height: 100vh;
}

.divtop{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color:rgba(247, 246, 237, 0.8) ;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
}

.imgtop{
   width: 400px;
}

.imagheaderdreapta{
   width: 400px;
   border-radius: 15px;
}

.descr{
    width: 50%;
    font-size: 1.5rem;
}

.options{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    background-color:rgba(247, 246, 237, 0.8) ;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    padding: 10px;
    transition: all 2;
}

.options li:hover{
  color: rgb(0, 140, 94);
}

.none{
    display: none;
}

.box input:checked + div{
    display: flex;
    flex-direction: column;
}