*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(../images/floriBaloane.jpeg);
    font-size: 18px;
}

.nav{
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(247, 246, 237);
    padding: 25px;
    z-index: 200;
}

.nav h1{
    font-family: 'Playfair Display', serif;
    color: rgb(186, 15, 15);
    
}

.meniuOrizantala{
    display: flex;
    justify-content: center;
}

.nav .meniuOrizantala li{
    list-style-type: none;
    padding: 10px;
}

.nav .meniuOrizantala li a{
   text-decoration: none;
   color: rgb(37, 35, 35);
}

.evenimente {  
    display: none;
    align-items: flex-start;
    position: absolute;
    background-color:rgb(247, 246, 237);
}

.evenimente a{
    padding-top: 7px;
    padding-bottom:7px;
}

.hoverul:hover .evenimente{
 display: flex;
 flex-direction: column;
} 

.descriereppag p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.descriereppag{
    width: 80%;
    padding: 15px;
    text-align: justify;
    background-color:rgba(247, 246, 237, 0.7);
    margin: auto;
    border-radius: 15px;
    margin-top: 25px;
}

.homebkg{
    height: 100vh;
}

.divtop{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color:rgba(247, 246, 237, 0.8) ;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
}

.imgtop{
   width: 400px;
}

.imagheaderdreapta{
   width: 400px;
   border-radius: 15px;
}

.descrEv{
    width: 50%;
    font-size: 1.5rem;
}

.btnConfirm{
    font-size: 1.2rem;
    padding: 10px;
    margin: 15px;
    background-color: darkcyan;
    border: none;
    border-radius: 7px;
    width: 200px;
}

.options{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    padding: 10px;
}

.options li:hover{
  color: rgb(0, 140, 94);
}

.none{
    display: none;
    color: black;
}

.none label:hover{
    color: rgb(0, 140, 94);
}

.box input:checked + div{
    display: flex;
    flex-direction: column;
}

.login{
font-size: 1.2rem;
background-color: rgba(247, 246, 237, 0.5);
margin:100px auto;
width: 370px;
padding: 40px;
margin-bottom: 20px;
}

.login input{
    padding: 10px;
    width: 300px;
    border: none;
    background-color: rgb(195, 192, 192);
}

.login button{
    width: 300px;
    padding: 10px;
    border: none;
    background-color: darkcyan;
}

.msgError{
 font-size: 1.2rem;
 width: 400px;
 margin: auto;
 color: red;
 padding:0 40px;
 font-weight: bold;
 background-color:rgba(247, 246, 237, 0.7);
}

.img-even{
    width: 100%;
    position: relative;
}

.divImg{
position: absolute;
min-width: 350px;
width: 400px;
border-radius: 8px;
margin-top: 20px;
background-color:rgba(247, 246, 237, 0.8) ;
box-shadow:0px 0px 10px rgba(240, 140, 26, 0.8), 0px 0px 20px rgba(247, 232, 28, 0.6);
margin-bottom: 20px;
}

.img{
width: 100%;
border-radius: 8px;
}

.text{
padding: 7px;
color: dimgray;
text-shadow: 1px 1px 1px rgb(185, 230, 235);
font-size: 1.2rem;
}


.showmenu input:checked + .divmenu{
display: block;
}

.form{
    margin: 20px auto;
    background-color:rgba(247, 246, 237, 0.8) ;
    font-size: 1.3rem;
    border-radius: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.divmenu{
position: absolute;
font-size: 1.3rem;
padding: 15px;
color: rgb(77, 77, 77);
top:100%;
left: 0px;
width: 100%;
min-height: 500px;

background-color: rgba(250, 228, 195, 0.8);
box-shadow: 0px 0px 10px rgba(240, 140, 26, 0.8) inset, 0px 0px 20px rgba(247, 232, 28, 0.658) inset;
}

.divflex{
  display: flex;
  width: 100%;  
}

.menutitle{
font-size: 1.3rem;
font-weight: bold;
padding: 10px;
width: 80%;
padding-top: 100px;
line-height: 70px;
text-align: center;
}

.menutitle span{
    font-size: 2.3rem;
    color: rgb(77, 77, 77);
}

.textmenu{
    padding: 20px;
}

.textmenu ul li{
    list-style-type: circle;
    color: rgb(77, 77, 77);
    letter-spacing: 2px;
}

.nuntaError{
    color: red;
}

.profile{
    height: 100vh;
    padding: 10px;
}

.menuprofile{
    width: 20%;
    padding: 5px;
}

.meniuBtn{
    font-size: 1.2rem;
    padding: 5px;
    background-color: burlywood;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.meniuBtn span{
    font-weight: bold;
    float: right;
}

.meniuBtn:hover{
    background-color: rgb(28, 23, 23);
    color:burlywood ;
}

.details{
    width: 80%;
    padding: 7px;
    margin-bottom: 20px;
}

.datecont{
    background-color: burlywood;
    width: 400px;
    min-height: 200px;
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
}

.datecont ul li{
    list-style-type: none;
    margin-bottom: 30px;
}

.btnCont{
    color: darkcyan;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-top: 1px solid rgb(112, 112, 112);
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: burlywood;
}

.updatecont{
 margin: 0px 10px; 
}

.comenzi{
width: 650px;
}

.produs{
width: 100%;
border: 1px solid #999;
border-radius: 3px;
margin-bottom: 20px;
background-color: burlywood;
}

.prod{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
padding: 5px;
font-size: 1rem;
}

.prod button{
border: none;
font-weight: bold;
color: rgb(44, 101, 187);
background-color: transparent;
font-style: italic;
cursor: pointer;
}

.prod span{
    font-weight: bold;
}

.prod button:hover{
color: rgb(79, 141, 235);
text-shadow: 1px 1px 2px rgb(17, 17, 17);
}

.listaComenzi{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}

.listaComenzi div{
width: 100%;
padding: 5px;
}

#servicii{
width: 60%;
}

.menuManager{
    align-items: center;
    padding: 25px;
}

.menuManager ul{
list-style-type: none;
display: flex;

}

.menuManager ul li button{
 font-size: 1.3rem;
 padding: 10px;
 margin: 5px;
 width: 200px;
 border-radius: 5px;
 background-color: burlywood;
 cursor: pointer; 
 border: none;
 box-shadow: 0px 0px 1px 1px grey;   
}

.menuManager ul li button:hover{
 box-shadow: 0px 0px 1px 2px black;
}

.menuManager ul li button span{
 color: yellow;
font-weight: bold;   
}

.preturi{
    padding: 20px;
}

table, th, td{
    border: 1px solid black;
    background-color: blanchedalmond;
    font-weight: bold;
    padding: 5px;
}

td input{
    border: none;
    background-color: transparent;
    padding: 3px;
    font-weight: bold;
}

.btnsave{
    border: none;
    border-radius: 2px;
    background-color: darkcyan;
    cursor: pointer;
    padding: 7px;
    width: 150px;
    margin: 7px auto;
}

.managercomenzi{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 500px;
    background-color: burlywood;
}

.listcom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listcom div{
    width: 100%;
    padding: 5px;
}

.btnAdmin{
   padding: 10px;
   width: 200px;
   font-size: 1.1rem;
   background-color: burlywood;
   border: none;
   box-shadow: 0px 0px 0px 2px grey;
   margin-top: 2px;
   margin-left: 2px;
   cursor: pointer; 
}

.btnAdmin:hover{
    text-shadow: 1px 1px 2px rgb(22, 13, 3);
    color: rgb(221, 221, 194);
}

#clienti{
   padding-top: 50px;
   font-size: 1.2rem;
   font-weight: bold; 
}